---
import { type HTMLInputTypeAttribute } from 'react';
import { cn } from '@/lib/utils';
import { Label } from '@ui/ui/label';
import { Input } from '@ui/ui/input';

interface Props {
  name: string;
  label?: string;
  placeholder?: string;
  type: HTMLInputTypeAttribute | undefined;
  required?: boolean | undefined;
  className?: string;
}

const { name, label, placeholder, type, required, className } = Astro.props;

export const prerender = true;
// TODO: show required fields
---

<div class={cn('grid gap-2', className)}>
  {label && <Label htmlFor={name}>{label}</Label>}
  <Input
    className="w-full"
    id={name}
    name={name}
    type={type}
    placeholder={placeholder}
    required={required}
  />
</div>
